// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  box-shadow: 1px -1px 10px 1px;
  border-radius: 5px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background-color: #DBF9F4;
  color: #042A2B;

}

.container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  color: #042A2B;
}

.card a {
  opacity: 0.7;
}

.card a:hover {
  opacity: 1.0;
  text-decoration: none;
}
